<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>

<div th:insert="parts/navbar_reception :: navbar_reception"></div>


<form method="post" th:action="@{/reception/tickets}" th:object="${tickets}">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    <label for="newTicketsSelect">Новые записи</label>
                    <!--- Окно с новыми клиентами --->
                    <select multiple class="form-control" id="newTicketsSelect" name="ticketId">
                        <option th:each="ticket : ${tickets}"
                                th:value="${ticket.id}"
                                th:utext="${ticket.client.surname}
                            + ' ' + ${ticket.client.name}
                            + ' ' + ${ticket.client.patronymic}
                            + ' ' + ${ticket.client.phoneNumber}"
                        ></option>
                    </select>
                </div>
                <!--- Кнопки отклонения и подтверждения талона --->
                <div buttons>
                    <button type="submit" class="btn btn-primary btn-sm" name="reject" value="reject">Отклонить талон
                    </button>
                    <button type="submit" class="btn btn-secondary btn-sm" name="accept" value="accept">Подтвердить
                        талон
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
</div>

<div th:insert="~{parts/common :: customization}"></div>
</body>
</html>