<!DOCTYPE html> <html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>

</head>
<body>
<div th:fragment="navbar_doctor">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:text="${doctor.surname} + ' ' + ${doctor.name} + ' ' + ${doctor.patronymic}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Выход</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div th:insert="~{parts/common :: customization}"></div>
</body>
</html>