<!DOCTYPE html> <html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>

</head>
<body>
<div th:fragment="navbar_all">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">На главную</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/client/">Записаться к врачу</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/subscriber/">Подписаться на врача</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Вход для работников клиники
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/reception/">Для работников регистратуры</a>
                        <a class="dropdown-item" href="/doctor/">Для врачей</a>
                        <a class="dropdown-item" href="/admin/">Для администратора</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div th:insert="~{parts/common :: customization}"></div>
</body>
</html>